.widget {
    // border: 2px solid black;
    border-radius: 15px;
    padding: 5px;

    width: 100%;
    height: 100%;

    background: #f0f0f0;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);

    &:hover {
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    }
}